# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
myenv/
env/
*.egg-info/
dist/
build/
*.log

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# EML files and data
*.eml
*.json

# SpaCy model cache
.spacy/

# Test output
*.coverage
htmlcov/
coverage.xml

# Output files
*.xlsx
data/output/
data/logs/

# Misc
*.bak